body {
    font-family: Arial, sans-serif;
    background-color: #cfddd9b4; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  form {
    background-color: #fff9c4;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
  }
  
  h1 {
    color: #4a125c; 
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4a125c; 
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgba(255, 255, 0, 0.863);
  }
  
.esqueci-senha{
    text-align: end;
    margin-top: 10px;
    font-size: 12px;
}

.codigo{
    border: black;
    padding: 10px;
    background-color: #4a125c;
    border-radius: 20px;
    color: rgba(255, 255, 0, 0.849);
    text-align: center;
    
}
.codigo{
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.gmail{
    text-align: center;
    margin-top: 15px;
    background-color: #fff9c4;
    color: #360d46;
    border: 1px solid black;
    margin-bottom: -8px;
}
.face{
    text-align: center;
    margin-top: 15px;
    background-color: #fff9c4;
    color: #360d46;
    border: 1px solid black;
}

hr.linha-meio {
  margin-top: 40px;
  margin-bottom: 40px;
}

.esqueci-senha{
    text-align: end;
    margin-top: 10px;
    font-size: 12px;
}

.cadastre-se{
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.gmail-1{
  background-color: #fff9c4;
}

.h3{
color: rgba(0, 0, 0, 0.822);
}

.fa-google{
 margin-right: 10px;
}
.fa-facebook-f{
  margin-right: 10px;
 }

 .gmail:hover {
  background-color: #731680;
  color: #ffffff;   
  border: none;
}
 .face:hover {
    background-color: #3b5998; 
    color: white; 
    border: none; }
