form{
    max-width: 450px;
    margin: auto;
    background: rgba(255, 255, 255, 0.096);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 7px 20px rgb(18, 128, 218);
    
}

label{
    font-family: serif;
    display: black;
    margin-top: 15px;
    font-weight: bold;
    font-size: 24px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 20px;
    box-sizing: border-box;
}

button{
    margin-top: 20px;
    padding:  2%  2%;
    background-color: rgb(55, 81, 224);
    color: rgba(170, 170, 177, 0.418);
    border: none;
    border-radius: 30%

}

body{
    background-image: url(rooftop\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
